#container{
	margin: auto;
	width: 900px;
}
#header{
	border-bottom-style: solid ;
	border-top-style: solid ;
	height:30px;
	padding: 10px;
	margin-bottom: 20px; 
}
#header_left{
	float:left;
}
#header_right a{
	text-decoration: none;
}
#header_right{
	float:right;
}
#content table{
	width: 100%;
	
}